<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card class="form mt">
          <div class="container text-center">
            <img src="../../../assets/movieLogp.png" alt="movie logo" class="movieLogo">
          </div>
          <h1 class="text-center">Login Here!</h1>
          <form [formGroup]="userLogin" (ngSubmit)="formSubmit()">

            <!-- Login Id -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Login Id</mat-label>
              <input formControlName="loginId" matInput placeholder="Enter Login Id" data-cy="loginId-input">
            </mat-form-field>
            <!-- Password -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input formControlName="password" matInput type="password" placeholder="User Password" data-cy="password-input">
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit" data-cy="login-button">Login</button>
              <button mat-raised-button class="ml" (click)="forgotPassword()">Forgot Password</button>
            </div>

          </form>

        </mat-card>
      </div>
    </div>
  </div>
</div>