<mat-card class="text-center sidebar">
    <h4 class="text-center">Menu</h4>
    <mat-action-list>
        <button mat-list-item class="mb" routerLink="add-movie"><mat-icon class="mr">add_to_queue</mat-icon><b>Add Movie</b></button>
        <button mat-list-item class="mb" routerLink="admin-view-movies"><mat-icon class="mr">local_movies</mat-icon><b>View Movies</b></button>
        <button mat-list-item class="mb" routerLink="view-bookings"><mat-icon class="mr">remove_red_eye</mat-icon><b>View Bookings</b></button>
      </mat-action-list>
</mat-card>

